[submodule "module/BaseX"]
	path = module/BaseX
	url = ssh://git@git.died:2203/sing88/BaseX.git
[submodule "module/Usuario"]
	path = module/Usuario
	url = ssh://git@git.died:2203/sing88/BaseAppUsuario.git
[submodule "public/js/lib/UsuarioJS"]
	path = public/js/lib/UsuarioJS
	url = ssh://git@git.died:2203/sing88/BaseAppUsuarioJS.git
[submodule "public/js/lib/BaseXJS"]
	path = public/js/lib/BaseXJS
	url = ssh://git@git.died:2203/sing88/BaseXJS.git
