[submodule "module/BaseX"]
	path = module/BaseX
	url = ssh://git@git.died:2203/sing88/BaseX.git
[submodule "module/Usuario"]
	path = module/Usuario
	url = ssh://git@git.died:2203/sing88/BaseAppUsuario.git
