/*Variables header*/
/*Colores por concurso*/
/*Acceso*/
/*@color_principal_concurso: #a8b23f;*/
/*@color_principal_concurso: #427f76;*/
/*@color_principal_concurso: #eb5b4e;*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.body_bg {
  background-color: #EBEFF2;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #444242;
}
/*Header*/
.img_logo_evdocente {
  /*content: url(@img_evd);*/
  padding-top: 30px;
}
.panel-primary {
  border-color: #098ca6;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #098ca6;
  border-color: #098ca6;
}
.img_logo_minedu {
  content: url('../img/logo_ministerio_educacion.gif');
}
.banner_top_titulo {
  background-color: white;
  height: 120px;
  padding: 20px 50px;
}
.barra_top {
  background-color: #94C5CC;
  border-color: #93C5CD;
  height: 40px;
}
/*BODY*/
.font-principal {
  color: #777777;
}
.img_logo_concurso {
  content: url('../img/etiqueta.jpg');
  padding-top: 20px;
}
.img_phone_contact {
  content: url('../img/mdesign/ic_phone_black_24dp_1x.png');
}
.img_captcha {
  content: url('../img/logincaptcha.png');
}
.img_captcha_refresh {
  content: url('../img/refresh.png');
}
/*GENERICOS*/
h3,
h2,
h1 {
  color: #098ca6;
}
a {
  color: #098ca6;
}
a:hover {
  color: rgba(9, 140, 166, 0.9);
}
/*BOTONES*/
.btn-rojo {
  background-color: #af0d15;
  color: white;
}
.btn-rojo:hover {
  background-color: rgba(175, 13, 21, 0.9);
  color: white;
}
.boton {
  background-color: #098ca6;
  border-color: #098ca6;
  color: #fff;
}
.boton:hover {
  background-color: rgba(9, 140, 166, 0.9);
  border-color: #098ca6;
  color: #fff;
}
.boton-ico {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.banner_top_black {
  background-color: #94C5CC;
  color: white;
  /*height: 35px;*/
  padding: 8px 50px;
}
.fondo {
  background-color: #ebeff2;
}
.footer_color {
  background-color: #444242;
  color: #94c5cc;
}
.banner_2_login {
  background-color: #ebeff2;
  /*#ebeff2 none repeat scroll 0 0*/
  border-color: #93C5CD;
  color: #333;
}
.linea {
  background: #cbced1 none repeat scroll 0 0;
  display: block;
  height: 1px;
}
/* Dashboard  */
/*.menu_1{

    font-weight: bold;
}

.menu_1 li{
    background-color: #9A999E;
    color: #FFF;
    padding: 10px;
}

.menu_1 li:hover{
    background-color: #098CA6;
    color: white;
    cursor: pointer;
    cursor: hand;
}*/
.nav > li > a {
  padding: 0px !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #93c5cd !important;
  color: #ffffff !important;
}
.navbar-collapse.in {
  overflow-y: visible !important;
}
/*.menu_1 > li > a {
    color: @dashboard_menu_li_color ;
}*/
/*.menu > li > a:hover {
    background-color: @dashboard_menu_bg_color !important;
    color: @dashboard_menu_color !important;
}*/
/*.menu_1 li:hover, .menu_1 li.clicked {
    background-color: @dashboard_menu_bg_color !important;
    color: @dashboard_menu_color;
}*/
.banner_top {
  background-color: #93c5cd !important;
  border-color: #93c5cd !important;
  /*height: 40px;*/
}
.dashboard_barra_top {
  background-color: #444242;
  color: white;
  padding: 8px;
}
#btn_cerrar_sesion {
  color: #f36b45;
}
a.dropdown-toggle.nav-menu-user {
  padding-left: 0px !important;
}
.left_menu {
  font-weight: bold;
  /*    li:hover{

            background-color: @dashboard_menu_bg_color !important;
            color: @dashboard_menu_color;

        }*/
}
.left_menu .clicked {
  background-color: #93c5cd !important;
  color: #ffffff;
}
.left_menu li {
  background-color: #eeeeee;
  color: #777777;
  padding: 10px;
  /*background-color: @dashboard_menu_bg_color !important;*/
}
.left_menu li a {
  color: #777777;
}
.left_menu li a:hover {
  background-color: #93c5cd !important;
  color: #ffffff !important;
}
.left_menu li:hover {
  background-color: #93c5cd !important;
  color: #ffffff;
}
/* Pefil */
#div_perfil {
  /*overflow-y: scroll;*/
  margin-bottom: 65px;
}
#div_perfil .row_selected {
  background-color: #098ca6;
  color: #ffffff;
}
.died_hr {
  border-color: #777777;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* Panel Custom Died */
.panel-primary .panel-heading {
  background-color: '#ff0000';
  border-color: '#098CA6';
  color: '#fff';
}
.panel-alert {
  background-color: #ffffff;
  border-color: #098ca6;
  color: #777777;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-control {
  text-transform: uppercase;
}
