/*Variables header*/
@img_evd:'../img/etiqueta-ev.jpg';
@img_med:'../img/logo_ministerio_educacion.gif';
@img_concurso:'../img/etiqueta.jpg';
@img_phone:'../img/mdesign/ic_phone_black_24dp_1x.png';
@img_captcha:'../img/logincaptcha.png';
@img_refresh:'../img/refresh.png';

/*Colores por concurso*/

/*Acceso*/
@color_principal_concurso: #098CA6;
////Ingreso
/*@color_principal_concurso: #a8b23f;*/
////Ascenso
/*@color_principal_concurso: #427f76;*/
////Desempeño
/*@color_principal_concurso: #eb5b4e;*/

@color_principal_letra: #777777;
@color_btn_registro:rgb(175,13, 21);
@fondo_footer:#444242;


